.header
  .header__box
    .header__box__left
      Timer
    .header__box__right
      .header__box__right__mypage
        -# = link_to "マイページ", user_path(current_user.id), class: "link"
      .header__box__right__logout
        -# = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link"
      .header__box__right__login
        -# = link_to "ログイン", new_user_session_path, class: "link"
      .header__box__right__new
        -# = link_to "新規会員登録", new_user_registration_path, class: "link"