* {
  box-sizing: border-box;
}

.header {
  height: 100px;
  display: flex;
  &__title {
    width: 50vw;
    padding: 15px 60px 0px 60px;
  }
  &__right {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__login, &__create, &__logout, &__mypage {
      display: flex;
      padding: 0px 30px;
      .link {
        color: #3f312b;
        text-decoration: none;
      }
    }
  }
}


.main {
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff8dc;
}
.left {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.right {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
